.grids > * {
  outline: 1px dashed gray;
}

.grids > * > * {
  outline: 1px dashed lightblue;
}

.grids > * > * > *{
  outline: 1px dashed blue;
}

.grids > * > * > * > *{
  outline: 1px dashed green;
}

.grids > * > * > * > * > *{
  outline: 1px dashed red;
}


.container{
	width: 1080px;
	margin: 0 auto;
}

/*-----------------------------Header-----------------------------*/
header.container{
	width: 980px;
	height: 72px;
}
a.logo{
	display: block;
	float: left;	
	height: 72px;
}
menu.main{
	list-style-type: none;
	margin: 0 0 0 150px;
	padding: 0;
}
menu.main li{
	float: left;
}
menu.main li a{
	display: block;
	text-decoration: none;
}

/*-----------------------------First Slideshow-----------------------------*/
div.slidewrapper{
	height: 459px;
}

/*-----------------------------Floor1-----------------------------*/
div.floor1{
	height: 338px;
}
.floor1 div.col{
	width: 360px;
	height: 338px;
}
.floor1 div.col3{
	margin-left: 720px;
}
.floor1 section.top{
	width: 340px;
	height: 125px;
	margin-top: 33px;
}
.floor1 section.bottom{
	width: 340px;
	height: 105px;
	margin-top: 33px;
}
.floor1 img{
	width: 108px;
	height: 108px;
	display: block;
	margin-right: 15px;
	float: left;
}
.floor1 h1{
	width: 217px;
	height: 20px;
	margin: 20px 0 5px 0;
	font-size: 19px;
	line-height: 20px;
}
.floor1 .top section.right_section{
	width: 217px;
	height: 125px;
	margin-left: auto;
}
.floor1 .bottom section.right_section{
	width: 217px;
	height: 105px;
	margin-left: auto;
}
/*-----------------------------Floor2-----------------------------*/
div.floor2{
	height: 740px;
}
.floor2 div.col2{
	width: 660px;
	height: 720px;
}
.floor2 section.col1{
	width: 360px;
	height: 740px;
}
/*-----------------------------Floor3-----------------------------*/
section.floor3{
	height: 507px;
}
/*-----------------------------Floor4-----------------------------*/
div.floor4{	
	height: 361px;
	width: 879px;
}
.floor4 div.col{
	width: 293px;
	height: 361px;
}
.floor4 div.col3{
	margin-left: 586px;
}

/*-----------------------------map-----------------------------*/
div.mapwrapper{
	height: 300px;
}


/*-----------------------------footer-----------------------------*/
footer{
	width: 878px;
	height: 74px;
}