.grids > * {
  outline: 1px dashed gray;
}

.grids > * > * {
  outline: 1px dashed lightblue;
}

.grids > * > * > *{
  outline: 1px dashed blue;
}

.grids > * > * > * > *{
  outline: 1px dashed green;
}

.grids > * > * > * > * > *{
  outline: 1px dashed red;
}


.container{
	width: 1080px;
	margin: 0 auto;
}
footer.container{
	width: 980px;	
	padding: 20px 0 30px 10px;
}
h1{
	color: rgb(255, 255, 255);	
	font-family: OpenSansLight , sans-serif;
	font-size: 19px;	
	margin:0;
	text-transform: uppercase;
}
p{
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSansRegular,sans-serif;
	font-size: 14px;
	margin: 0px;
}
h3{	
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSansLight,sans-serif;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
}
/*main menu item colors*/
body.home a.home,
body.wedgit a.widget,
body.feature a.feature,
body.icon a.icons{
	background-color: #0086C6;
	color: white;	
	border-bottom: 2px solid #0086C6;
}

/*-----------------------------Header-----------------------------*/
div.headwrapper{
	border-bottom:1px solid #E0E0E0;

}
header.container{
	width: 980px;
	height: 72px;
}
img{
	display: block;
}
a.logo{
	display: block;	
}
menu.main{
	list-style-type: none;
	margin: 0;
	margin-left:auto;
	width: 710px;
	padding: 0;
}
menu.main li a{
	display: block;
	text-decoration: none;
	color: rgb(112, 112, 112);
	text-transform: uppercase;
	font-family: OpenSansRegular,sans-serif;
	font-size: 15px;
	padding: 27px 20px;
	font-variant: normal;
	font-weight: normal;
	text-transform: uppercase;
}
menu.main li{
	float: left;
	position: relative;
	border-right: 1px solid #E0E0E0;
	
}
menu.main li a{
	border-bottom: 2px solid transparent;	
}

menu.main li:first-child{
	border-left: 1px solid #E0E0E0;
	
}
menu.main a.wordpress{
	padding-top: 21px;
	padding-bottom: 16px;
}
span.title,
span.subtitle{
	display: block;
}
span.subtitle{
	font-size: 10px;
	padding-top: 4px;
}
menu.main form.menusearch{
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	padding-left: 42px;
	padding-right: 27px;
	background-position: 0 27px;	
}
img.search{
	padding-top: 28px;
}
.menusearch input{
	width: 70px;
	height: 71px;	
	border: 0;
	display: block;
	padding: 0;
	outline: 0;
}
.menusearch button{
	display: block;
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-image: url('../images/x.png');
	background-repeat: no-repeat;
	position: absolute;
	top:29px;
	left:118px;
	background-position: -5px -7px; 
}
menu.main li:hover a{
	background-color: #0086C6;
	color: white;
	border-bottom: 2px solid #0086C6;
}
/*-------------------------------making submenu----------------------------*/

li div.wrapper{
	width: 0px;
	height: 0px;	
	overflow: hidden;
	position: absolute;
	top:100%;
	left: -198px;	
}
menu.main li:hover div.wrapper{
	width: 500px;
	height: 177px;
}
menu.main li.widget:hover div.wrapper{
	width: 500px;
	height: 219px;
}
li div.submenu{
	padding: 5px 10px;
	background-color: #0086C6;
	margin-top: -182px;
	-moz-transition:all 300ms;
	-webkit-transition: all 300ms;
	z-index: 20;
	position: relative;
}
li:hover div.submenu{
	margin-top: 0;	
}
li div.col1,
li div.col2{
	width: 240px;
	min-height: 167px;
}
li div.col2{
	margin-left: 240px;
}
li .submenu ul{
	margin: 0;
	padding-left: 9px;
	padding-right: 11px;
}
li .submenu li{
	list-style-type: none;
	float: none;
	border: none;
	border-top: 1px solid #2196CE;
}
li .submenu li:first-child{
	border: none;
	border-top: none;
}
li .submenu li a{
	border-left: none;
	color: white;
	font-size: 14px;
	width: 220px;
	padding: 13px 0;
}
li .submenu li:hover a{
	color: #B5DFFF;
}



/*-----------------------------First Slideshow-----------------------------*/
div.slidewrapper{
	height: 459px;	
}
div.slideshow1{
	height: 459px;
	position: relative;
	overflow: hidden;
}
div.slidewrapper img{
	display: block;
	position: absolute;
}
div.slideshow1 img.first{
	z-index: 2;
}
div.left_button{
	position: absolute;
	width: 66px;
	height: 66px;
	background-image: url('../images/buttons.png');	
	background-repeat: no-repeat;
	background-position: 1px -199px;
	z-index: 5;
	top:45%;
	left: 8%;
	cursor:pointer;
}

div.right_button{
	position: absolute;
	width: 66px;
	height: 66px;
	background-image: url('../images/buttons.png');	
	background-repeat: no-repeat;
	background-position: 1px 1px;
	z-index: 5;
	top:45%;
	left: 89%;
	cursor:pointer;

}


/*-----------------------------Floor1-----------------------------*/
div.floor1wrapper{
	height: 338px;
	padding: 80px 0;

	background: #007BB7;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);	
}
.floor1wrapper h1{
	color: rgb(255, 255, 255);	
	font-family: OpenSansLight , sans-serif;
	font-size: 19px;	
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
	text-transform: uppercase;
}
.floor1wrapper p{
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSansRegular,sans-serif;
	font-size: 14px;
	margin: 0px;
}
.floor1_top div.col{
	height: 155px;
	width: 340px;
	margin: 10px;
}
.floor1_top div.col3{
	margin-left: 720px;
	margin-left: auto;
}
.floor1_top div.col img{
	display: block;
	float: left;
	margin-top: 22px;
}
.floor1_top div.col section.child{
	width: 217px;
	height: 125px;
	margin-left: auto;
	margin-top: 30px;
}



.floor1_bottom div.col{
	height: 138px;
	width: 340px;
	margin: 10px;
}
.floor1_bottom div.col3{
	margin-left: 720px;
	margin-left: auto;
}
.floor1_bottom div.col img{
	display: block;
	float: left;
	margin-top: 20px;
}
.floor1_bottom div.col section.child{
	width: 217px;
	height: 108px;
	margin-left: auto;
	margin-top: 30px;
}

/*-----------------------------Floor2-----------------------------*/
div.floor2wrapper{
	background: #36B04A;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #4DC35C 0%, #2FAA43 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #4DC35C 0%, #2FAA43 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #4DC35C 0%, #2FAA43 100%);
	background: radial-gradient(ellipse farthest-corner at center, #68DB73 0%, #2FAA43 100%);

	padding: 50px 0;
}
div.floor2{
	height: 740px;
}

.floor2 div.col2{
	width: 660px;
	height: 720px;
}
.floor2 div.col2 a{
	display: block;
	float: left;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.floor2 div.col2 a:hover{
	box-shadow: 8px 8px 15px rgba(0,0, 0, 0.4);
	-webkit-transform: rotate(0deg) scale(1.2);
	-o-transform: rotate(0deg) scale(1.2);
	-moz-transform: rotate(0deg) scale(1.2);
	-ms-transform: rotate(0deg) scale(1.2);
	transform: rotate(0deg) scale(1.2);
}


.floor2 section.col1{
	width: 360px;
	
}
.floor2 section.col1 h3{
	
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSansLight,sans-serif;
	font-size: 30px;
	height: 65px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 15px;
	padding-left: 25px 0;
	text-transform: uppercase;
}
.floor2 section.col1 p{
	color: rgb(255, 255, 255);
	display: block;
	font-family: OpenSansRegular,sans-serif;
	font-size: 14px;
	height: 180px;
	line-height: 20px;
	margin:0;
	margin-top: 20px;	
}
.floor2 .col1 ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
}
.floor2 div.list{
	height: 72px;
}
.floor2 .col1 ul li{
	background-image: url('../images/ul.png');
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	display: list-item;
	font-family: OpenSansRegular,sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;	
	padding-left: 30px;
}
.floor2 .col1 ul.left_ul{
	padding-left: 5px;
}
.floor2 .col1 ul.right_ul{
	margin-left: 145px;
}
.floor2 a.con_button{
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 8px 20px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 0, 0, 0.2);
	margin-left: 10px;
	margin-top: 10px;
	width: 130px;
}

/*-----------------------------Floor3-----------------------------*/
div.floor3wrapper{
	background: #007BB7;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	background: radial-gradient(center, ellipse farthest-corner, #008FD5 0%, #00689B 100%);
	
}
section.floor3{
	height: 507px;
}
.floor3 h1{
	font-size: 40px;
	text-align: center;
	padding: 10px 0;
}
.floor3 p{
	font-size: 17px;
	text-align: center;
}
/*-----------------------------Floor4-----------------------------*/
div.floor4wrapper{
	background-color: #42495A;
}

div.floor4{	
	
	min-height: 361px;
	width: 922px;
	background-color:#313842;
}
.floor4 div.col{
	padding: 30px 0;
	width: 293px;
	min-height: 361px;
	padding-left: 20px;	
}
.floor4 div.col2{
	width: 250px;
	padding-right: 23px;
}
.floor4 div.col3{
	margin-left: 609px;
	background-color: #31414A;
}
.floor4 h3{
	font-size: 18px;
	padding-bottom: 15px;
}
.floor4 .col1 a{
	display: block;
	float: left;
	border: 1px solid #636973;
}
.floor4 ul{
	list-style-type: none;
	padding: 0;
}
.floor4 .col2 li{
	font-family: OpenSansRegular,sans-serif;
	font-size: 14px;
	color: #FFF;
	padding: 15px 0;
	border-bottom: 1px solid #636973;
}
.floor4 .col2 li:first-child{
	border-top: 1px solid #636973;
}
.floor4 .col3 p{
	text-align: center;
	font-size: 19px;
	line-height: 22px;
	font-family: "Times New Roman",Times,serif;
	line-height: 27px;
	padding-top: 35px;
}
.floor4 .col3 a{
	font-size: 19px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.65098);
	text-decoration: none;
}
.floor4 .col3 h3{
	margin-left: 20px;
	border-bottom: 1px solid #636973;
}

/*-----------------------------map-----------------------------*/
div.mapwrapper{
	height: 300px;
}
.icon div.headwrapper {
border-bottom: 1px solid #E0E0E0;
}


/*-----------------------------footer-----------------------------*/
div.footerwrapper{
	background-color: #42495A;

}
.home footer.container{
	width: 878px;
	min-height: 74px;
	font-size: 12px;
	color: #fff;
	padding: 17px 0;
}
footer p{
	font-size: 12px;
	line-height: 18px;
}
footer ul{
	padding:6px 0 6px;
	margin: 0;
}
footer li{
	list-style-type: none;
	float: left;
	margin-right: 11px;
}
footer a{
	color: #fff;
	text-decoration: none;
}


/*////////////////////////////ICON PAGE///////////////////////////////////*/

.icon div.container{
	width: 980px;
}

/*---------------------------icon_floor2-----------------------------------*/
div.icon_floor2{
	min-height: 60px;
}
a.icon_home{
	text-decoration: none;
	color: #0081C1;
}
div.icon_home{
	padding-top: 19px;
}

/*---------------------------icon_floor3-----------------------------------*/
div.icon_floor3{
	min-height: 393px;
}
.icon_floor3 div.col1{
	width: 490px;
}
.icon_floor3 div.col2{
	margin-left: 509px;
	padding-top: 70px;
}
.icon_floor3 div.blue{
	width: 423px;
	height: 280px;
	padding: 20px;
	background-color: #008AD0;
	border: 1px solid #DBDBDB;
	box-shadow: inset 1px 0px 17px rgba(0,0,0,0.15);
}
.icon_floor3 div.blue img{
	display: block;
	float: right;
	margin-left: 15px;
}
.icon_floor3 div.blue h2{
	font-size: 26px;
	color: white;
}
.icon_floor3 div.blue ul{
	padding: 0;
}
.icon_floor3 div.blue li{
	padding-left: 30px;
	padding-bottom: 12px;
	list-style-type: none;
	color: white;
	background-image: url('../images/club_icon.png');
	background-repeat: no-repeat;
}
.icon_floor3 div.col1 h1{
	color: #707070;
	font-size: 35px;
	padding-bottom: 32px;
}
.icon_floor3 div.col1 p{
	color: #999;
	font-size: 14px;
	line-height: 20px;
	font-family:  OpenSansRegular,sans-serif;
	padding-bottom: 12px;
}
a.visit{
	display: block;
	background-color: rgb(0, 140, 209);
	color: white;
	padding: 10px 5px;
	text-decoration: none;
	width: 128px;
	text-align: center;
	border: 1px solid rgb(0, 109, 164);
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}



/*---------------------------icon_floor4 & icon_floor1-----------------------------------*/
div.icon_floor1,
div.icon_floor4{
	min-height: 207px;
	padding: 20px 0;
}
.icon_floor1 div.image,
.icon_floor4 div.image{
	width: 230px;
	height: 192px;
	margin: 6px;
	float: left;
	border-color: #DBDBDB;
	background: #FBFBFB;
	box-shadow: inset 1px 0px 17px rgba(20, 20, 20, 0.08);
	color: #999;
	border: 1px solid #DBDBDB;
}
.icon_floor1 div.image img,
.icon_floor4 div.image img{
	display: block;
	padding: 30px 20px 10px 20px;

}
.icon_floor1 a,
.icon_floor4 a{
	display: block;
	text-decoration: none;
	color: #0081C1;
	font-size: 14px ;
	font-family: Arial,Helvetica,sans-serif;
	width: 123px;
	height: 20px;
	padding: 0 53px;
}

/*////////////////////////////WEDGIT PAGE///////////////////////////////////*/

.wedgit div.container{
	width: 980px;
}

/*--------------------------------------col1-----------------------------------*/
.wedgit_floor div.col1{
	width: 725px;
	padding-right: 10px;
	padding-bottom: 50px;
}
div.wedgit_home{
	min-height: 20px;
}
a.wedgit_home{
	text-decoration: none;
	color: #0081C1;
}
div.wedgit_home{
	padding:20px 0;
}
.wedgit_floor .col1 h1{
	font-size: 35px;
	color: #707070;
}
.wedgit_floor .col1 h2{
	color: #707070;
	font-size: 26px;
}
.wedgit_floor .col1 p{
	color:#999;
	font-size: 14px;
	line-height: 20px;
	padding: 20px 0;
}
.wedgit_floor .col1 ul{
	padding: 0;
}
.wedgit_floor .col1 li{
	padding-left: 30px;
	padding-bottom: 12px;
	list-style-type: none;
	color: rgb(153, 153, 153);
	background-image: url('../images/wedgit_ul.png');
	background-repeat: no-repeat;
}

/*--------------------------------------col2-----------------------------------*/

.wedgit_floor div.col2{
	margin-left: 740px;
} 
.wedgit_floor .col2 div.top{
	margin: 29px 0 0 10px;
	width: 183px;
	padding: 20px;	
	border: 1px solid #DBDBDB;
	background: #FBFBFB;
	box-shadow: inset 1px 0px 17px rgba(20, 20, 20, 0.08);
	color: #999;
}
.wedgit_floor div.col2 h3{
	color: #0081C1;
	font-size: 18px;
	font-family: OpenSansLight,sans-serif;
}
.wedgit_floor div.col2 p{
	color: rgb(153, 153, 153);
	font-size: 14px;
	font-family: OpenSansRegular,sans-serif;
	line-height: 20px;
	padding: 15px 0;
}
.wedgit_floor .col2 div.top img{
	display: block;
	padding: 14px 0 0 22px;
}
a.dl_widget{
	display: block;
	width: 134px;
	height: 20px;
	padding: 8px 20px;
	border: 1px solid rgb(0, 109, 164);
	background: #008AD0;
	color: white;
	text-decoration: none;
}

.wedgit_floor .col2 div.bottom{
	width: 183px;	
	margin: 20px 10px 10px 10px;
	padding: 20px;
	border: 1px solid #DBDBDB;
	color: #999;
}
.wedgit_floor .col2 .bottom ul{
	padding: 0;
}
.wedgit_floor .col2 .bottom li{
	list-style-type: none;
	border-top:1px solid #DEDFDE;
}
.wedgit_floor .col2 .bottom li:first-child{
	border: none;
}
.wedgit_floor .col2 .bottom li a{
	color: #707070;
	text-decoration: none;
	padding: 7px 0;
	display: block;
}
/*////////////////////////////FEATURE PAGE///////////////////////////////////*/

div.feature_floor{
	width: 980px;
	min-height: 100px;
}

/*--------------------------------------col1-----------------------------------*/
.feature_floor div.col1{
	width: 735px;
}
div.feature_home{
	min-height: 20px;
}
a.feature_home{
	text-decoration: none;
	color: #0081C1;
}
div.feature_home{
	padding:20px 0;
}
.feature_floor .col1 h1{
	font-size: 35px;
	color: #707070;
}
.feature_floor .col1 p{
	color:#999;
	font-size: 14px;
	line-height: 20px;
	padding: 20px 0;
}
.feature_floor .col1 a{
	text-decoration: none;
	color: #0081C1;
}
.feature_floor ul.feature_top_list{
	padding: 0;
}
.feature_floor ul.feature_top_list li{
	padding-left: 30px;
	padding-bottom: 12px;
	list-style-type: none;
	color: rgb(153, 153, 153);
	background-image: url('../images/wedgit_ul.png');
	background-repeat: no-repeat;
}
div.feature_big_box{
	width: 673px;
	height: 379px;
	padding: 20px;
	margin: 30px 0;
	border: 1px solid #DBDBDB;
	background: #FBFBFB;
	box-shadow: inset 1px 0px 17px rgba(20,20,20,0.08);
}
.feature .col1 h3{
	font-size: 20px;
	color: #888;
	text-transform: uppercase;
}
.feature_big_box img{
	display: block;
	padding-top: 7px;
}
div.them_images{
	width: 715px;
	padding-bottom: 50px;
}
.them_images a{
	display: block;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.them_images figcaption{
	text-align: center;
}
/*--------------------------------------col2-----------------------------------*/
.feature_floor div.col2{
	margin-left: 735px;
	min-height:100px;
	padding-top:25px; 
}
.feature_floor .col2 div.box1{
	width: 183px;
	height: 108px;
	padding: 20px;
	margin: 10px;

	border: 1px solid #DBDBDB;
}
.feature_floor .col2 h3{
	color: #0081C1;
	font-size: 18px;
	text-transform: uppercase;
}
.feature_floor .col2 .box1 ul{
	list-style-type: none;
	padding: 0;
}
.feature_floor .col2 .box1 li{
	color: #9D9D9D;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 30px;
}
.feature_floor .col2 .box1 li:first-child{
	border-bottom: 1px solid #DEDFDE;
}
.feature_floor .col2 .box2{
	width: 183px;	
	padding: 20px;
	margin: 26px 10px; 
	border: 1px solid #006DA4;
	background-color: #0081C1;
	box-shadow: rgba(0, 0, 0, 0.14902) 1px 0px 17px 0px inset;

}
.feature_floor .col2 .box2 h3{
	color: white;
	font-size: 17px;
	font-family: OpenSansLight,sans-serif;
}
.feature_floor div.box3{
	width: 183px;
	height: 338px;
	padding: 20px;
	margin: 10px;
	border: 1px solid #DBDBDB;
	box-shadow: inset 1px 0px 17px rgba(20, 20, 20, 0.08);
	color: #999;
	background-color: #FBFBFB
}
.feature_floor div.box3 p{
	color: #999;
	padding: 20px 0;
}
.feature_floor div.box3 img{
	display: block;
	padding: 10px 0 0 10px;
}